{% extends 'base_without_panel.html' %}

{% block content %}

<div class="login-wrapper">
    <h1>Восстановление пароля</h1>

    {% if form.non_field_errors %}
    <ul class="form-error">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" class="login-form">
        {% csrf_token %}

        {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            {% if f.errors %}
            <ul class="field-errors">
                {% for error in f.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Сбросить по E-mail</button>
    </form>
</div>

{% endblock %}
