{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="hero">
    <div class="container authors-section">

        <h2 class="authors-title">Авторы</h2>

        <div class="authors-list">
            {% for auth in authors %}
                <div class="author-card">

                    <div class="author-left">
                        {% if user.img %}
                            <img src="{{ user.img.url }}"
                                 class="author-avatar"
                                 alt="avatar">
                        {% else %}
                            <img src="{{ default_img }}"
                                 class="author-avatar"
                                 alt="avatar">
                        {% endif %}
                    </div>

                    <div class="author-center">
                        <h3 class="author-name">{{ auth.username }}</h3>
                        <p class="author-description">Описание автора будет здесь…</p>
                    </div>

                    <div class="author-right">
                        <div class="author-likes">🩶 {{auth.sum_of_likes}}</div>
                        <a class="author-link" href="#">Цитаты автора</a>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}
