{% extends 'base.html' %}
{% block content %}
{% load static %}


<section class="hero">
    {% for quote in quotes %}
    <div class="container slider">
        <div class="slides">
            <div class="slide">
                <div class="slide-text">
                    <h2>{{ quote.title }}</h2>
                    <p>{{ quote.content }}</p>
                </div>

                {% if quote.popular %}
                <div class="quote-likes">
                    👍 {{ quote.popular.number_of_likes }} | 👎 {{ quote.popular.number_of_dislikes }}
                </div>
                {% endif %}

                <div class="corner-label">
                    <div class="corner-title">{{ quote.creator_content.username }}</div>
                    <div class="corner-subtitle">{{ quote.category.name }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}
