{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_page }}</title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <header class="site-header">
    <div class="container header-inner">
      <div class="logo">
        <a href="{% url 'feed' %}" class="logo-link">Цитатник</a>
      </div>

      <nav class="main-nav">
        <ul>
          {% for comp in menu %}
          <li><a href="{% url comp.url_name %}">{{ comp.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <div class="header-contacts">
        {% if user.is_authenticated %}
        <p class="last"> <a href="{% url 'Users:profile' %}">{{user.username}}</a> | <a href="{% url 'Users:logout' %}">Выйти</a></p>
        {% else %}
        <p class="last"><a href="{% url 'Users:login' %}">Войти</a> | <a href="{% url 'Users:register' %}">Регистрация</a></p>
        {% endif %}
      </div>
    </div>
  </header>


  <div class="main-content-wrapper container">
    <main class="main-content">
      {% block content %} {% endblock %}
    </main>
  </div>

  <!-- Подвал -->
  <footer class="site-footer">
    <p>&copy; {{ current_year }} Цитатник. Все права защищены.</p>
    <p>
      <a href="#">Политика конфиденциальности</a> |
      <a href="#">Условия использования</a> |
      <a href="#">Контакты</a>
    </p>
  </footer>


  <script src="{% static 'js/likeButton.js' %}"></script>
</body>
</html>